#login-popup-container {
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 30%;
  margin-top: 500px;
}

.submit-button {
  width: 5rem;
  margin-top: 2rem;
  margin: auto;
  text-align: center; 
  display: flex;
  margin-top: 30px;
}

#submit {
    color: black;
    text-decoration: none;
    display: block;
    font-family: "Press Start 2P", system-ui;
    text-transform: uppercase;
}

.game-canvas {
  width: 100%;
  height: auto;
  background-color: azure; /*temporary for programming*/
  overflow: auto;
}

.game-div {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-gap: 1rem;
  margin-top: 8rem;
  padding: 5%;
  height: auto;
}

.drumpad {
  width: 7.5rem;
  height: 7.5rem;
}

.orange {
  background-image: url("/images/drumpads-orange.png");
  background-size: cover;
}

.purple {
  background-image: url("/images/drumpads-purple.png");
  background-size: cover; 
}

.green {
  background-image: url("/images/drumpads-green.png");
  background-size: cover; 
}

a {
  color: black;
  text-decoration: none;
  display: block;
}