.form-container {
  position: fixed;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#login-popup-container {
  display: none;
  text-align: center;
  align-items: center;
  width: 30%;
  background-color: white;
}

#login-popup-background{
  background-image: url("../ressources/images/surprise-wowowowow.webp");
  background-repeat: none;
  display: block;
  width: 100%;
  height: 100%;
}

.submit-button {
  width: 5rem;
  margin-top: 2rem;
  margin: auto;
  text-align: center; 
  display: flex;
  margin-top: 30px;
}

.login-popup-input:focus{
  border: 1rem solid;
  border-image: url("../ressources/pixel-style-assets/borderline.svg") 5 stretch;
  border-radius: 2rem; 
  outline: none;
}

#submit {
    color: black;
    text-decoration: none;
    display: block;
    font-family: "Press Start 2P", system-ui;
    text-transform: uppercase;
    cursor: pointer;
}

.game-canvas {
  width: 100%;
  height: auto;
  overflow: auto;
  z-index: 0;
}

.game-div {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-gap: 1rem;
  margin-top: 5rem;
  padding: 5%;
  height: auto;
}

.drumpad {
  width: 7.5rem;
  height: 7.5rem;
  cursor: pointer;
}

.looping {
  border: 1rem solid;
  border-image: url("../ressources/pixel-style-assets/borderline-looping.svg") 5 stretch;
  border-radius: 2rem;
}

.orange {
  background-image: url("../ressources/images/drumpads-orange.png");
  background-size: cover;
}

.purple {
  background-image: url("../ressources/images/drumpads-purple.png");
  background-size: cover; 
}

.green {
  background-image: url("../ressources/images/drumpads-green.png");
  background-size: cover; 
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

.audio-div {
  display: none;
}