.card-button:hover {
  background-color: black;
  color: white;
}

.card-button-centered:hover {
  background-color: black;
  color: white;
}

.big-button:hover {
  background-color: black;
  color: white;
}

.win-title {
  margin: 7.25rem auto 2.06rem auto;
  text-align: center;
  font-size: 3rem;
}

.content {
  display: block;
}

.play-now-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.play-now-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2.06rem;
  margin-bottom: 2.06rem;
}

.play-now-border {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.play-now-content {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.play-now-content img {
  width: 100%;
  height: 100%;
  display: block;
}

.big-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2.06rem;
  margin-bottom: 7.12rem;
}

.big-button {
  width: 20.125rem;
  height: 3.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
}

.bestseller-title {
  margin: 9.75rem auto 7.13rem auto;
  text-align: center;
  font-size: 3rem;
}

.card-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
  width: 100%;
  margin-bottom: 10.69rem;
}

.card-item {
  width: 21.5rem;
  height: 30rem;
  display: block;
  padding: 1.63rem;
}

.card-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* creating square image */
  position: relative;
  background-color: gainsboro;
}

.card-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* crop image to square */
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.card-text {
  font-family: jackey;
  font-size: 1.5rem;
  margin-top: 1.6rem;
}

.card-button {
  width: 9rem;
  height: 2.5rem;
  float: right;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.our-brands-title {
  margin: 9.75rem auto 7.13rem auto;
  text-align: center;
  font-size: 3rem;
}

.card-button-centered {
  width: 13rem;
  height: 2.5rem;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.burger-nav {
  top: 9.1875rem;
}

@media screen and (max-width: 480px) {
  .banner {
    width: 80%;
    height: auto;
    overflow: hidden;
    border-radius: 0%;
  }

  .win-button {
    height: 100%;
  }

  .win-title {
    font-size: 2.5rem;
    margin-bottom: 15%;
  }

  .play-now-div {
    height: 15rem;
  }

  .play-now-border {
    width: 85%;
    height: 100%;
  }

  .play-now-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .play-now-content img {
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
  }

  .card-item {
    width: 70%;
  }

  .big-button-div {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .play-now-border {
    width: 85%;
    height: 100%;
  }

  .banner {
    width: 70%;
  }

  .play-now-content {
    height: 20rem;
    width: 100%;
  }
}
