.banner-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2.63rem;
  margin-bottom: 2.63rem;
}

.banner {
  width: 80%;
  margin-bottom: 0.56rem;
  font-size: 1.25rem;
}

.win-button {
  font-size: 1.25rem;
  margin-left: 0.56rem;
  margin-bottom: 0.56rem;
}

.win-button:hover {
  background-color: black;
  color: white;
}

.card-button:hover {
  background-color: black;
  color: white;
}

.win-title {
  margin: 7.25rem auto 2.06rem auto;
  text-align: center;
  font-size: 3rem;
}

.content {
  display: block;
}


.card-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
  width: 100%;
  margin-bottom: 10.69rem;
}


.card-div2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
  width: 100%;
  margin-bottom: 10.69rem;
}

.card-item {
  width: 21.5rem;
  height: 30rem;
  display: block;
  padding: 1.63rem;
}

.card-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* creating square image */
  position: relative;
  background-color: gainsboro;
}

.card-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* crop image to square */
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.card-text {
  font-family: jackey;
  font-size: 1.5rem;
  margin-top: 1.6rem;
}

.card-button {
  width: 9rem;
  height: 2.5rem;
  float: right;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.card-price {
  color: goldenrod
}


.slider-div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
  width: 100%;
  margin-bottom: 10.69rem;
  overflow: hidden;
} 

.slick-prev:before, .slick-next:before{
  color:white !important;
}

.slick-dots li button:before {
  color: white !important;
}

.card-div2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
  width: 100%;
  margin-bottom: 10.69rem;
  margin-top: 10%;
}
 


.slider-item {
  width: 21.5rem !important;
  height: 28.125rem !important;
  display: block;
  padding: 1.63rem;
  background-color: white;
}

.line-break {
  min-width: 100%;
  height: 0;
}


.bestseller-title {
  margin: 9.75rem auto 7.13rem auto;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.bestseller-background {
  background-color: black;
  margin: 2%;
  padding: 1%;
}

.our-products-title {
  margin: 9.75rem auto 7.13rem auto;
  text-align: center;
  font-size: 3rem;
}

.card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-all-button {
  width: 20.125rem;
  height: 3.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
}

.shop-all-button-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5.13rem;
}

@media screen and (max-width: 480px) {
  .banner {
    width: 80%;
    height: auto;
    overflow: hidden;
    border-radius: 0%;
  }

  .win-button {
    height: 100%;
  }

  .win-title {
    font-size: 2.5rem;
    margin-bottom: 15%;
  }

  .bestseller-title {
    font-size: 2rem;
  }

  .play-now-div {
    height: 15rem;
  }

  .play-now-border {
    width: 85%;
    height: 100%;
  }

  .play-now-content {
    width: 100%;
    height: 100%;
  }

  .card-item {
    width: 70%;
  }

  .shop-all-button-div {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .play-now-border {
    width: 85%;
    height: 100%;
  }

  .banner {
    width: 70%;
  }

  .play-now-content {
    height: 20rem;
    width: 100%;
  }
}
