.background {
    background-image: url(ressources/images/surprise-wowowowow.webp);
    min-width: 100vw;
    min-height: 100vh;
}

.message-card {
    display: block;
    background-color: white;
    width: 40%;
}

.message-title {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.message-text {
    text-align: center;
    font-size: 1rem;
}